
.app{
  width: 200px;
  margin: 150px auto;
  text-align: center;
  div{
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 1px solid #dad9d9;
    margin-bottom: 30px;
    cursor: pointer;
    border-radius: 5px;
  }
  h2{
    margin-bottom: 50px;
  }
  div:hover{
    background: #a0a0a0;
  }
}